---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/neo/rest/v1/feed?api_key=<NASA_API_KEY>&end_date=&start_date=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '988'
      X-Application-Context:
      - application:prod:17151
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"next":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2019-01-04&end_date=2019-01-11&detailed=false&api_key=<NASA_API_KEY>","prev":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2018-12-21&end_date=2018-12-28&detailed=false&api_key=<NASA_API_KEY>","self":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2018-12-28&end_date=2019-01-04&detailed=false&api_key=<NASA_API_KEY>"},"element_count":45,"near_earth_objects":{"2018-12-31":[{"links":{"self":"https://api.nasa.gov/neo/rest/v1/neo/3487954?api_key=<NASA_API_KEY>"},"id":"3487954","neo_reference_id":"3487954","name":"(2010
        BG5)","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3487954","absolute_magnitude_h":24.0,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.0421264611,"estimated_diameter_max":0.0941976306},"meters":{"estimated_diameter_min":42.1264610556,"estimated_diameter_max":94.1976305719},"miles":{"estimated_diameter_min":0.0261761612,"estimated_diameter_max":0.0585316759},"feet":{"estimated_diameter_min":138.2101784897,"estimated_diameter_max":309.0473542854}},"is_potentially_hazardous_asteroid":false,"close_approach_data":[{"close_approach_date":"2018-12-31","epoch_date_close_approach":1546243200000,"relative_velocity":{"kilometers_per_second":"22.3174601459","kilometers_per_hour":"80342.8565253394","miles_per_hour":"49921.9266004255"},"miss_distance":{"astronomical":"0.4529257855","lunar":"176.1881256104","kilometers":"67756728","miles":"42102080"},"orbiting_body":"Earth"}],"is_sentry_object":false}],"2019-01-04":[{"links":{"self":"https://api.nasa.gov/neo/rest/v1/neo/3831886?api_key=<NASA_API_KEY>"},"id":"3831886","neo_reference_id":"3831886","name":"(2018
        UZ)","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3831886","absolute_magnitude_h":19.739,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.2997470907,"estimated_diameter_max":0.6702548709},"meters":{"estimated_diameter_min":299.7470907083,"estimated_diameter_max":670.2548708816},"miles":{"estimated_di[...]
