---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/neo/rest/v1/neo/2153306?api_key=<NASA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '987'
      X-Application-Context:
      - application:prod:17151
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"self":"https://api.nasa.gov/neo/rest/v1/neo/2153306?api_key=<NASA_API_KEY>"},"id":"2153306","neo_reference_id":"2153306","name":"153306
        (2001 JL1)","designation":"153306","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2153306","absolute_magnitude_h":16.7,"estimated_diameter":{"kilometers":{"estimated_diameter_min":1.214940408,"estimated_diameter_max":2.7166893409},"meters":{"estimated_diameter_min":1214.9404079963,"estimated_diameter_max":2716.6893408911},"miles":{"estimated_diameter_min":0.7549287363,"estimated_diameter_max":1.6880719724},"feet":{"estimated_diameter_min":3986.0250881707,"estimated_diameter_max":8913.0230571693}},"is_potentially_hazardous_asteroid":false,"close_approach_data":[{"close_approach_date":"1932-03-30","epoch_date_close_approach":-1191513600000,"relative_velocity":{"kilometers_per_second":"13.355195182","kilometers_per_hour":"48078.7026552619","miles_per_hour":"29874.2361026543"},"miss_distance":{"astronomical":"0.4923804009","lunar":"191.5359802246","kilometers":"73659064","miles":"45769620"},"orbiting_body":"Earth"},{"close_approach_date":"2058-03-29","epoch_date_close_approach":2784610800000,"relative_velocity":{"kilometers_per_second":"13.3718414291","kilometers_per_hour":"48138.6291446722","miles_per_hour":"29911.4720926992"},"miss_distance":{"astronomical":"0.4928210432","lunar":"191.7073822021","kilometers":"73724976","miles":"45810576"},"orbiting_body":"Earth"},{"close_approach_date":"2188-03-28","epoch_date_close_approach":6886969200000,"relative_velocity":{"kilometers_per_second":"13.9636728538","kilometers_per_hour":"50269.2222737099","miles_per_hour":"31235.3398066838"},"miss_distance":{"astronomical":"0.4919367051","lunar":"191.3633880615","kilometers":"73592688","miles":"45728376"},"orbiting_body":"Earth"}],"orbital_data":{"orbit_id":"107","orbit_determination_date":"2017-04-06
        09:27:06","first_observation_date":"1993-06-13","last_observation_date":"2016-11-26","data_arc_in_days":8567,"observations_used":452,"orbit_uncertainty":"0","minimum_orbit_intersection":".50654","jupiter_tisserand_invariant":"3.103","epoch_osculation":"2458600.5","eccentricity":".5230638682087437","semi_major_axis":"2.552324113075375","inclination":"26.98090616084071","ascending_node_longitude":"226.6522332030463","orbital_period":"1489.368492412525","perihelion_distance":"1.217295589567718","perihelion_argument":"272.4568069165397","aphelion_distance":"3.887352636583032","perihelion_time":"2457881.421525104538","mean_anomaly":"173.8107474954325","mean_motion":".2417131836976495","equinox":"J2000","orbit_class":{"orbit_class_type":"AMO","orbit_class_description":"Near-Earth
        asteroid orbits similar to that of 1221 Amor","orbit_class_range":"1.017 AU
        < q (perihelion) < 1.3 AU"}},"is_sentry_object":false}'
  recorded_at: Fri, 28 Dec 2018 16:25:56 GMT
recorded_with: VCR 4.0.0
